projects:

  cluster-config:
    annotations:
      notifications.argoproj.io/subscribe.on-sync-failed.slack: cluster-gitops
      notifications.argoproj.io/subscribe.on-health-degraded.slack: cluster-gitops
    description: Project for overall cluster configuration
    namespace: openshift-gitops
    sourceRepos:
    - https://github.com/rich-p-ai/argo-demo.git
    destinations: |
      - namespace: '*'
        server: '*'
    extraFields: |
      clusterResourceWhitelist:
      - group: '*'
        kind: '*'

# Common applications are defined here
# Each cluster can override or add additional applications in their values.yaml
applications: {}