apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: miaocplab-applications
  namespace: openshift-gitops
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  labels:
    app-source: root
    repo: cluster-config
    cluster: miaocplab
spec:
  project: default
  source:
    repoURL: 
    targetRevision: HEAD
    path: clusters/miaocplab
    kustomize:
      buildOptions: --enable-helm
  destination:
    server: https://kubernetes.default.svc
    namespace: openshift-gitops
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
    - Validate=false
    - CreateNamespace=true
    - PrunePropagationPolicy=foreground
    - PruneLast=true
    - RespectIgnoreDifferences=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
